body {
    background-image: url(RallyBackground.jpg);
    background-size:  cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;

}

h1 {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 700%;
	line-height: 70%;
}

.infoText {
    color: white;
}
.topDiv {
    height: 50%;
    width: 40%;
background: rgba(0,0,0,.40);
    border-radius: 25px;

    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -260px;
}

.nav > a:hover, .nav > a:focus{
    background-color: red;
    text-decoration: none;
}




.infoText {

    position: fixed;
    top: 61%;
    left: 51%;
    margin-top: -100px;
    margin-left: -200px;
    margin-right: 470px;
}
