body {
    background-color: grey;
    background-size:  cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;

}

h1 {
	color: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 300%;
	line-height: 70%;
}

.infoText {
    color: white;
}
.topDiv {
    height: 200px;
    width: 400px;
    background: transparent;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.bottomDiv {
    height: 300px;
    width: 400px;
    background: rgba(0,0,0,.40);
    border-radius: 25px;

    position: fixed;
    top: 63%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}
